.cart-items
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cart-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 20vw;
    height: 35vh;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    font-size: 0.5vw;
    margin-top: 30px;
}
.cart-item > img
{
    object-fit: contain;
    width: 80%;
    height: 80%;
}
.cart-title
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
