.category-container
{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.smaller-container
{
    display: flex;
    flex-direction: row;
}
.title
{
    background-color: black;
    background-position: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: black;
    width: 100%;
    font-size: 13px;
    font-size: 3vw;
    margin-bottom: 5%;
    font-weight: lighter;
    font-family: 'Playfair Display', serif;
}
.bape
{
    background-image: url('https://cdn.shopify.com/s/files/1/0520/8974/9672/products/2020-12-18_16.18.22_540x.png?v=1608301369');
}
.off
{
    background-image: url('https://cdn.shopify.com/s/files/1/0520/8974/9672/products/2020-12-18_17.34.01_720x.png?v=1608305691');
}
.supreme
{
    background-image: url('https://cdn.shopify.com/s/files/1/0520/8974/9672/products/2bd9aa23_540x.jpg?v=1608246990');
}
.angels
{
    background-image: url('https://cdn.shopify.com/s/files/1/0520/8974/9672/products/2020-12-18_16.58.05_540x.png?v=1608304294');
}
.bape, .off, .supreme, .angels
{
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    opacity: 1;
    transition: 1s;
}

.h1-category
{
    background-color: rgba(255, 255, 255, 0.562);
    color: black;
    font-style: italic;
    font-weight: 500;
   
}

.bape:hover,
.off:hover,
.supreme:hover,
.angels:hover
{
    transform: scale(1.2);
    filter: brightness(85%);
}
