*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {width: 100%;}
body {width: 100%; }
.container-meniu
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2% 0 2% 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.meniu-stanga > ul,
.meniu-dreapta > ul
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}
.meniu-stanga > ul
{
    list-style: none;
    display: flex;
}
.meniu-stanga > ul > li > a
{
    position: relative;
    color: black;
    letter-spacing: 0.2em;
    font-size: 13px;
    font-size: 1vw;
    padding: 7.5px 15px;
    text-decoration: none;
}

.meniu-stanga > ul > li > a::after,
.meniu-dreapta> ul > li > a::after
{
   content: '';
   position: absolute;
   background-color: black;
   height: 3px;
   width: 0;
   left: 0;
   bottom: 0;
   transition: 0.5s;
}
.meniu-stanga > ul > li > a:hover::after,
.meniu-dreapta > ul > li > a:hover::after
{
    width: 100%;
}

.meniu-dreapta > ul
{
    list-style: none;
    display: flex;
}
.meniu-dreapta > ul > li > a
{
    position: relative;
    color: black;
    letter-spacing: 0.2em;
    font-size: 13px;
    font-size: 1vw;
    padding: 7.5px 15px;
    text-decoration: none;
    transition: 0.5s;
}
.logo > a 
{
    font-size: 13px;
    font-size: 1vw;
    text-align: center;
    color: black;
    text-decoration: none;
}
.cart
{
    color: black;
    cursor: pointer;
    width: 3vw;
    height: 3vh;
    position: absolute;
    top: 30%;
    right: 5%;
}
.meniu-dreapta
{
    margin-left: 10%;
}
.meniu-stanga
{
    margin-right: 10%;
}